/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&family=Quicksand&display=swap');
:root{
--maincolor: #71CC98;
--bordercl:#ddd;
--callouctcolor:dodgerblue;
--hovercolor:#71CC98;
--darkMaincolor: #50fa7b;
}
html {
  color: #232333;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
body{
  display: block;
  margin: 8px;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--maincolor);§
  color: #fff;
}

p {
  font-family: 'Enriqueta', serif;
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 2px dotted var(--bordercl);
  margin: 0 0 1em 0;
}
/*nice border from svg */

.dots {
  padding: 6px;
  border-width: 7px 0 0 0 ;
  border-style: dotted;
  border-color: var(--bordercl);
  border-image: url('/images/dots.svg') 33% round;

}

nav {
  padding-top:35px;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px solid var(--maincolor);
  color: inherit;
  text-decoration: none;
}
a:hover {
    background-color: var(--hovercolor);
    color: #fff;
}

ul {
  list-style: none;
  padding-left: 0rem;
  padding-top: 0rem;
  font-size: 1.2em;
  padding-bottom: .5em;
}

ul li {
  text-indent: 0.85rem;
  line-height: 1.8rem;
}


.meta {
  font-size: 0.7em;
  color: var(--bordercl);
}

/* Images */

img {
  margin-top: 10px;
  border: 3px solid var(--bordercl);
  max-width: 100%;
}

img.img-responsive {
  margin-top: 1em;
  margin-right: 2em;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (max-width: 600px) {
  img.short{
    display : block;
  }
  img.top{
    display: none;
  }
  img.bottom {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  img.short{
    display : none;
  }
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  background-color: #f1f1f1;
  padding: .1em .2em;
}

pre {
  background-color: #ececec;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
}

header .main {

  font-size: 1.8rem;
  font-weight: 700;
  max-width: 100%;
}
header .main img {
  margin-top:0;
  position:absolute;
  padding-top:1.3rem;
  border: 0px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

header .main img.bottom{
  opacity:1;
}

header .main img.top{
  opacity:0;
}
header .main img.top:hover{
  opacity:0.8;
}


h1 {
  font-size: 1.2rem;
  margin-top: 1em;
}

h2 {

  font-size: 1.1rem;
}
h3, h4, h5, h6{
  font-size: 1rem;
}

h1::before { color: var(--maincolor); content: '* '; }
h2 { margin-left: -.8em}
h2::before { color: var(--maincolor); content: ''; }
h3 { margin-left: -.5em}
h3::before { color: var(--maincolor); content: ''; }
h4 { margin-left: -.5em}
h5 { }
h6 { }

/* Footer */
footer {
  margin: 15px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer a{
  border: 0;
  padding-bottom: 0;
}
footer .soc{
  margin-left: 20px;
  border: 0px;
}
footer a:hover{
  border: 0px;
  color:var(--maincolor);
  background-color: white;
}

footer .notes{
  position:relative;
  float:right;
}
footer .credits{
  float:left;
  position:relative;
}

/* Common */
h1 .title{

}

time {
  color: var(--bordercl);
  font-size: .8em;
  font-weight: 100;
  padding-left: .5em;
}

/* Posts */
article .title {
  margin-bottom: 1em;
}

.body {
  font-family: 'Enriqueta', serif;
  padding-left: 1em;
}
.description {
    font-family: 'Enriqueta', serif;
    padding-left: 2em;
}

/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'Enriqueta', serif;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor);
}

.site-description {
display: flex;
justify-content: space-between;
}

/*tags*/
.tag-cloud {
  padding-left: 0.85rem;
  padding-bottom: 0;
}
.nav-tags {
  font-size: 1em;
  padding-top: 1em;
  font-weight: 100;

}
.nav-tags a{
  color: var(--hovercolor);
  border-bottom: 0;
  background-color: white;
  padding-left: .2em;
  padding-right: .2em;
}
.nav-tags a:hover{
  background-color: var(--hovercolor);
  color: white;
}

.tags a{
  color: var(--hovercolor);
  border-bottom: 0;
  background-color: white;
  padding-left: .15em;
  padding-right: .15em;

}
.tags a:hover{
  background-color: var(--hovercolor);
  color: white;
}

.list-tags {
  font-size: 0.8em;
  font-weight: 100;
  padding-left: .5em;
}

.list-tags a{
  color: var(--hovercolor);
  border-bottom: 0;
  background-color: white;
  padding-left: .2em;
  padding-right: .2em;

}
.list-tags a:hover{
  background-color: var(--hovercolor);
  color: white;

}

svg{
  max-height: 15px;
}

.draft-label{
    color: var(--bordercl);
    text-decoration: none;
    padding: 0px 2px 2px px;
    border-radius: 4px;
    margin-left: 6px;
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}
