<!DOCTYPE html>
<html>
    {{- partial "header.html" . -}}
    <body>
        <div class="content">
        {{- partial "head.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
        </div>
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>
    </body>
</html>
